 /* Creating the structure of the page */

* {
    box-sizing: border-box;
  }
  
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 520px;
    display: table-cell;
  }

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
display: table;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
}
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#iframe-inspector {
    height:240px;
    width: 320px;
    float: middle;
    border: 0
}
#iframe-main {
    height:240px;
    width: 320px;
    border: 0

}
#marquee-ads {
    height:31px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background-color: rgb(242, 234, 246)
}

body {
    display: table-cell;
    vertical-align: middle;
}